.psevdo-logo
  position: relative
  width: 2em
  height: 2em
  &__element
    position: absolute
    width: 1em
    height: 1em
    -webkit-border-radius: 0.1em
    border-radius: 0.1em
    &_base
      background-color: $ct_i
    &_inverse
      background-color: $c_gd
    &_top
      top: 0
      right: 0
    &_bottom
      bottom: 0
      left: 0