<section class="contacts wrap clearfix" id="contacts">
  <div class="wrap__content ">
    {{blocks.ps_logo('contacts', 'inverse')}}
    <h2 class="section-title title_light contacts__section-title">Контакты</h2>
    <div class="contacts__mark-up">
      <p class="mark-up__descriptions contacts_large"> Садовая 12 <br>пн-пт 10:00-19:00 </p>
      <a href="tel:88126402323" class="mark-up__descriptions tel contacts_large">(812) 640-23-23 </a>
      <a href="mailto:hello@calltoprint" class="mark-up__descriptions tel contacts_large">hello@calltoprint</a>
      <a href="calltoprint.ru" class="mark-up__descriptions tel contacts_large">calltoprint.ru</a>
      <a href="mailto:hello@calltoprint.ru" class="button contacts__button">НАПИСАТЬ</a>
    </div>
  </div>
</section>