<section class="clients wrap clearfix" id="clients">
  <!-- <h2 class="section-title clients__section-title title_dark title_middle mark-title">Нам доверяют свои тиражи</h2> -->
  
    <div id="client" class="gallery">
      <div class="slider">
        <div class="stage">
          <div>
            <img src="img/clients/cultforum.png" alt="">
          </div>
          <div>
            <img src="img/clients/gratt.png" alt="">
          </div>
          <div>
            <img src="img/clients/hcdynamo.png" alt="">
          </div>
          <div>
            <img src="img/clients/oodji.png" alt="">
          </div>
          <div>
            <img src="img/clients/scarlet.png" alt="">
          </div>
          <div>
            <img src="img/clients/yubi.png" alt="">
          </div>
          <div>
            <img src="img/clients/cultforum.png" alt="">
          </div>
          <div>
            <img src="img/clients/gratt.png" alt="">
          </div>
          <div>
            <img src="img/clients/hcdynamo.png" alt="">
          </div>
          <div>
            <img src="img/clients/oodji.png" alt="">
          </div>
          <div>
            <img src="img/clients/scarlet.png" alt="">
          </div>
          <div>
            <img src="img/clients/yubi.png" alt="">
          </div>
          <div>
            <img src="img/clients/cultforum.png" alt="">
          </div>
          <div>
            <img src="img/clients/gratt.png" alt="">
          </div>
          <div>
            <img src="img/clients/hcdynamo.png" alt="">
          </div>
          <div>
            <img src="img/clients/oodji.png" alt="">
          </div>
          <div>
            <img src="img/clients/scarlet.png" alt="">
          </div>
          <div>
            <img src="img/clients/yubi.png" alt="">
          </div>
          <div>
            <img src="img/clients/cultforum.png" alt="">
          </div>
          <div>
            <img src="img/clients/gratt.png" alt="">
          </div>
          <div>
            <img src="img/clients/hcdynamo.png" alt="">
          </div>
          <div>
            <img src="img/clients/oodji.png" alt="">
          </div>
          <div>
            <img src="img/clients/scarlet.png" alt="">
          </div>
          <div>
            <img src="img/clients/yubi.png" alt="">
          </div>
        </div>
      </div>
      <div class="control">
        <div class="nav-ctrl">
          <span class="prev" data-shift="prev">prev</span>
          <span class="next" data-shift="next">next</span>
        </div>
        <ul class="dots-ctrl"></ul>
      </div>
    </div>


<!--   <div class="clients__wrapper">
    <div class="logowrap">
      <img src="../img/clients/1280px-Gazprom-Logo-rus.png" class="clients-logo logo-gazprom" alt="">
    </div>
    <div class="logowrap">
      <img src="../img/clients/logotip-585.png" class="clients-logo logo-585" alt="">
    </div>
    <div class="logowrap">
      <img src="../img/clients/c5604f5eae63d51e6ce273040c6f179a_logo3.png" class="clients-logo logo-legend" alt="">
    </div>
    <div class="logowrap">
      <img src="../img/clients/logotip-bukvoed.png" class="clients-logo logo-bukvoed" alt="">
    </div>
    <div class="logowrap">
      <img src="../img/clients/Mvideo.svg.png" class="clients-logo logo-gazprom" alt="">
    </div>
    <div class="logowrap">
      <img src="../img/clients/zmyyGjtE3ewmUG9w.png" class="clients-logo logo-mirage" alt="">
    </div>
    <div class="logowrap">
      <img src="../img/clients/stoletov-logo-2017.png" class="clients-logo logo-stoletov" alt="">
    </div>
    <div class="logowrap">
      <img src="../img/clients/RT_full_logo-CMYK_Horizontal_rus.png" class="clients-logo logo-rtc" alt="">
    </div>
  </div> -->
</section>