<section class="portfolio wrap clearfix" id="portfolio">
  <h2 class="section-title portfolio__section-title mark-title">Наши работы</h2>

  <div class="portfolio__slider">

    <div class="slider_for">
      <div class="slide">
        <img src="img/portfolio/1.jpg" alt="Изображение 1" class="slider_for__img">
        <h3 class="sl__title">Печать материала и монтаж</h3>
      </div>
      <div class="slide">
        <img src="img/portfolio/2.jpg" alt="Изображение 2" class="slider_for__img">
        <h3 class="sl__title"> Печать материала и монтаж</h3>
      </div>
      <div class="slide">
        <img src="img/portfolio/3.jpg" alt="Изображение 3" class="slider_for__img">
        <h3 class="sl__title">Печать материала и монтаж</h3>
      </div>
      <div class="slide">
        <img src="img/portfolio/4.jpg" alt="Изображение 4" class="slider_for__img">
        <h3 class="sl__title"> Печать материала и монтаж</h3>
      </div>
      <div class="slide">
        <img src="img/portfolio/5.jpg" alt="Изображение 5" class="slider_for__img">
        <h3 class="sl__title"> Печать материала и монтаж</h3>
      </div>
      <div class="slide">
        <img src="img/portfolio/6.jpg" alt="Изображение 6" class="slider_for__img">
        <h3 class="sl__title"> Печать материала и монтаж</h3>
      </div>
      <div class="slide">
        <img src="img/portfolio/7.jpg" alt="Изображение 7" class="slider_for__img">
        <h3 class="sl__title"> Печать материала и монтаж</h3>
      </div>
      <div class="slide">
        <img src="img/portfolio/8.jpg" alt="Изображение 8" class="slider_for__img">
        <h3 class="sl__title"> Печать материала и монтаж</h3>
      </div>
    </div> 

    <div class="slider_nav__pos ">
      <div class="slider_nav">
        <div class="slide">
          <img src="img/portfolio/1.jpg" alt="Изображение 1" class="slider_nav__img">
        </div>
        <div class="slide">
          <img src="img/portfolio/2.jpg" alt="Изображение 2" class="slider_nav__img">
        </div>
        <div class="slide">
          <img src="img/portfolio/3.jpg" alt="Изображение 3" class="slider_nav__img">
        </div>
        <div class="slide">
          <img src="img/portfolio/4.jpg" alt="Изображение 4" class="slider_nav__img">
        </div>
        <div class="slide">
          <img src="img/portfolio/5.jpg" alt="Изображение 5" class="slider_nav__img">
        </div>
        <div class="slide">
          <img src="img/portfolio/6.jpg" alt="Изображение 6" class="slider_nav__img">
        </div>
        <div class="slide">
          <img src="img/portfolio/7.jpg" alt="Изображение 7" class="slider_nav__img">
        </div>
        <div class="slide">
          <img src="img/portfolio/8.jpg" alt="Изображение 8" class="slider_nav__img">
        </div>
      </div> 
    </div>
  </div>

<!--     <div id="slider" class="gallery">
      <div class="slider">
        <div class="stage">
          <div>
            <img src="img/portfolio/1.jpg" alt="">
          </div>
          <div>
            <img src="img/portfolio/2.jpg" alt="">
          </div>
          <div>
            <img src="img/portfolio/3.jpg" alt="">
          </div>
          <div>
            <img src="img/portfolio/4.jpg" alt="">
          </div>
          <div>
            <img src="img/portfolio/5.jpg" alt="">
          </div>
          <div>
            <img src="img/portfolio/6.jpg" alt="">
          </div>
          <div>
            <img src="img/portfolio/7.jpg" alt="">
          </div>
          <div>
            <img src="img/portfolio/8.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="control">
        <div class="nav-ctrl">
          <span class="prev" data-shift="prev">prev</span>
          <span class="next" data-shift="next">next</span>
        </div>
        <ul class="dots-ctrl"></ul>
      </div>
    </div> -->



<!--   <div class="slider-2">
    <div class="fotorama" data-nav="thumbs" data-width="100%" data-ratio="537/320"  data-loop="true" >
      <img src="../img/slider/Rectangle Copy10.jpg">
      <img src="../img/slider/Rectangle Copy12.jpg">
      <img src="../img/slider/Rectangle Copy13.jpg">
      <img src="../img/slider/Rectangle Copy15.jpg">
    </div>
  </div> -->
</section>