<section class="services wrap clearfix" id="services">
  <h2 class="section-title services__section-title mark-title">Мы делаем:</h2>
  <div class="services-items-wrap">

    <div class="services-item">
      {{blocks.ps_logo('services', 'inverse')}}
      <h3 class="item-title">Наружная реклама</h3>
      <ul class="item__descriptions">
        {% import "data/servises_items/item_title.html" as tit %}
          {% for list in tit.list %}
              {% import "data/servises_items/outdoordata.html" as services %}
                {% for item in services.item %}
                  <li class="item__description">{{item.text}}</li>
                {%endfor%}
          {%endfor%}
      </ul>
    </div>

    <div class="services-item">
      {{blocks.ps_logo('services', 'inverse')}}
      <h3 class="item-title">Интерьерная реклама</h3>
      <ul class="item__descriptions">
        {% import "data/servises_items/item_title.html" as tit %}
          {% for list in tit.list %}
              {% import "data/servises_items/interior.html" as services %}
                {% for item in services.item %}
                  <li class="item__description">{{item.text}}</li>
                {%endfor%}
          {%endfor%}
      </ul>
    </div>

    <div class="services-item">
      {{blocks.ps_logo('services', 'inverse')}}
      <h3 class="item-title">POS материалы</h3>
      <ul class="item__descriptions">
        {% import "data/servises_items/item_title.html" as tit %}
          {% for list in tit.list %}
              {% import "data/servises_items/pos_mat.html" as services %}
                {% for item in services.item %}
                  <li class="item__description">{{item.text}}</li>
                {%endfor%}
          {%endfor%}
      </ul>
    </div>

    <div class="services-item">
      {{blocks.ps_logo('services', 'inverse')}}
      <h3 class="item-title">Цифровая печать</h3>
      <ul class="item__descriptions">
        {% import "data/servises_items/item_title.html" as tit %}
          {% for list in tit.list %}
              {% import "data/servises_items/digprint.html" as services %}
                {% for item in services.item %}
                  <li class="item__description">{{item.text}}</li>
                {%endfor%}
          {%endfor%}
      </ul>
    </div>

    <div class="services-item">
      {{blocks.ps_logo('services', 'inverse')}}
      <h3 class="item-title">Рекламные конструкции</h3>
      <ul class="item__descriptions">
        {% import "data/servises_items/item_title.html" as tit %}
          {% for list in tit.list %}
              {% import "data/servises_items/construct.html" as services %}
                {% for item in services.item %}
                  <li class="item__description">{{item.text}}</li>
                {%endfor%}
          {%endfor%}
      </ul>
    </div>

    <div class="services-item">
      {{blocks.ps_logo('services', 'inverse')}}
      <h3 class="item-title">Монтажные работы</h3>
      <ul class="item__descriptions">
        {% import "data/servises_items/item_title.html" as tit %}
          {% for list in tit.list %}
              {% import "data/servises_items/montwork.html" as services %}
                {% for item in services.item %}
                  <li class="item__description">{{item.text}}</li>
                {%endfor%}
          {%endfor%}
      </ul>
    </div>

  </div>

  <div class="services__wrapper clearfix">
    <img src="img/s_servises/Rectangle.jpg" class="services-img" alt="">

    <div class="mark-up mark-up__l">
      {{blocks.ps_logo('hero', 'inverse')}}
      <h2 class="section-title mark-up__section-title">Философия<br>клиентского<br>счастья</h2>
      <p class="mark-up__descriptions"> Качественная печать - лишь часть зоны нашей ответственности. Крайне важно то, насколько клиенту комфортно взаимодействовать с компанией. Мы постоянно анализируем свой опыт и опыт наших заказчиков, стремимся сделать печать по принципу "в один клик".</p>
    </div>
  </div>

  <div class="services__wrapper">
    <h2 class="section-title title_light title_middle centered">Cистема: печать по 1 звонку</h2>
    <p class="title_light title_small centered down">Простота взаимодействия и оперативность</p>
    <div class="steps wrap__content">
      <p class="title_light title_middle steps__title arrow">Звонок</p>
      <!-- <img class="arrow" src="../img/Rectangle.png" alt=""> -->
      <p class="title_light title_middle steps__title arrow">Техническое задание</p>
      <!-- <img class="arrow" src="../img/Rectangle.png" alt=""> -->
      <p class="title_light title_middle steps__title">Выполненая работа</p>
    </div>
  </div>



</section>