.contacts
  position: relative
  background-color: $cb_c
  padding-top: 4em
  padding-bottom: 4em
  font-size: 0.5em
  &__psevdo-logo
    margin-left: 10%
  &__section-title
    margin-left: 15%
    margin-bottom: 2em
  &_large
    font-size: 70%
    // padding-bottom: 1em
    margin-left: 3em
    // padding-top: 3em
  &__mark-up
    position: absolute
    bottom: 2em
    right: 10%
    width: 30%
    font-size: 1em
    background-color: #FFF 
    +r(760)
      position: relative
      width: 70%
      margin: 0 auto
      font-size: 2em
      bottom: initial
      right: initial
      margin-top: 0.5em
      padding-top: 0.6em
      padding-bottom: .6em
      


  
.tel
  text-decoration: none
  color: $ct_i
  
.button
  display: block
  width: 80%
  margin: 0 auto
  // height: 4vh
  background-color: $c_gd
  font-size: .6em
  margin-top: 1em
  padding-top: .5em
  padding-bottom: 0.5em
  margin-bottom: 3em
  text-align: center
  text-decoration: none
  color: $ct_b
  +r(760)
    margin-bottom:  