.clients
  background-color: $cb_l!important
  padding-top: 2em
  padding-bottom: 2em 
  height: initial!important 
  &__section-title
    margin-left: 10%
  &__wrapper
    width: 70%
    margin: 0 auto
    font-size: 0
    
.logowrap
  position: relative
  display: inline-block
  // min-width: 286px
  width: 25% 
  height: 164px
  // background-color: red 

.clients-logo
  position: absolute
  left: 50%
  // top: 50%
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  -o-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  
.logo
  &-gazprom
    height: 50%
    top: 45%
  &-585
    height: 40%
    top: 50%
  &-legend
    height: 40%
    top: 50%
  &-bukvoed
    height: 45%
    top: 50%
  &-mirage
    height: 35%
    top: 45%
  &-stoletov
    height: 30%
    top: 45%
  &-rtc
    height: 45%
    top: 40%