.portfolio
  background-color: $cb_d
  padding-top: 1em
  &__section-title
    font-size: 85%!important
    margin-left: 10% 
    color: $ct_b!important
    // margin-bottom: 2em
    margin-top: 1em

.slider
  width: 75%
  margin: 0 auto
  padding-top: 1em 
  padding-bottom: 4em 