.services
  position: relative
  padding-top: 1em
  padding-bottom: 2em
  background-color: $cb_d

  &__section-title
    float: left
    font-size: .7em
    margin-left: 10% 
    color: $ct_b

  &-items-wrap
    display: inline-block
    width: 60%
    margin-left: 8%
    margin-bottom: 2em
    +r(1024)
      width: 90%
      margin-left: 10%
      margin-top: 1em 

  &-item
    float: left
    font-size: .2em
    width: 45%
    margin-bottom: 2.5em
    +r(860)
      width: 40%
      font-size: 0.3em
    +r(540)
      width: 90%
      font-size: 0.5em

  &__psevdo-logo
    font-size: .9em

  &__wrapper
    position: relative
    font-size: .7em 

  &-img
    width: 50%
    margin-left: 10%
    +r(540)
      width: 70% 
  
.mark-up
  &__l
    right: 10%
    top: 15%
    width: 35%
    padding: 1.5%
    background-color: $cb_l
    font-size: 70%
    +r(540)
      position: relative
      width: 70%
      margin: 0 auto
      margin-right: 10%
      right: initial
      top: initial
      margin-top: -2em
      font-size: 1em
  &__section-title
    margin-top: 1em
    margin-left: 12.5%
    font-size: 1.4em
    +r(540)
      font-size: 1em

  &__descriptions
    display: block
    margin-left: 12.5%
    margin-bottom: 1.5em
    margin-top: 1.5em 
    margin-right: 10%
    font-size: 0.55em
    +r(540)
      font-size: 0.7em
  
.steps
  width: 100%
  font-size: .5em 
  text-align: center
  +r(540)
    font-size: .6em
  &__title
    position: relative
    display: inline-block
    width: 30%
    padding-top: 2em
    padding-bottom: 2em
    text-align: center
    background-color: $ct_a
    +r(760)
      display: block
      width: 70%
      margin: .5em auto
      font-size: 1.2em 


.arrow
  &:before
    content: ''
    top: 0
    right: -4.65em
    position: absolute
    border: 2.65em solid transparent
    border-left: 2em solid $ct_b
    z-index: 1 
  &:after
    content: ''
    top: 0
    right: -4.4em
    position: absolute
    border: 2.65em solid transparent
    border-left: 2em solid $ct_a
    z-index: 1 